body {
    font-family: 'HarmoniaSansPro', sans-serif;
    color: #3c4751;
}
header{
    background: #ffffff;
}
.sh-contacts{
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
    font-size: 12px;
    height: 60px;
    border-bottom: solid 1px #edeff1;
}
.sh-contact-item{
    display: inline-block;
    padding-right: 20px;
    font-size: 12px;
    line-height: 60px;
}
.sh-contact-item > span{
    color: #ff6422;
}
.sh-contact-text, .sh-social-media{
    font-size: 10px;
    color: #34404b!important;
}
.sh-social-media{
    padding-right: 15px;
    float: right;
}
.sh-social-media span:first-child{
    margin-left: 0;
}
.sh-social-media span{
    margin-left: 20px;
    line-height: 60px;
}
.sh-logo {
    padding: 40px 0
}
.sh-nav{
    margin-bottom: 0;
}
.sh-nav li{
    white-space: nowrap;
    display: inline-block;
}
.sh-nav li a{
    display: inline-block;
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
    font-size: 16px;
    padding: 50px 40px 50px 40px;
    text-decoration: none;
    color: #34404b;
}
.sh-nav li a:hover{
    color: #ff5912;
}
.sh-nav-icons{
    float: right;
    padding-right: 15px;
}
.sh-nav-icons i, .sh-nav-icons span{
    font-size: 18px;
    padding: 50px 0 50px 25px;
    position: relative;
}
.sh-nav-icons .sh-items-cnt{
    color: #fff;
    background: #34404b!important;
    border-radius: 50%;
    font-size: 9px;
    position: absolute;
    display: inline-block;
    height: 18px;
    max-height: 18px;
    width: 18px;
    padding: 0;
    top: 35px;
    left: 24px;
    text-align: center;
    padding-top: 3px;
}
.sh-cart-empty{
    display: none!important;
}
.mobile-menu{
    display: none;
}
.shtorka{
    display: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.sh-mob-nav li{
    width: 100%;
    font-size: 20px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #34404b;
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
}
.hidden{
    display: none;
}

/*mainsection*/



.bgimage {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 635px;
}

.padding {
    padding: 230px 0;

}
.headtext h1 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff7013;
    margin-bottom: 30px;
    margin-top: 0;
}
.headtext h4 {
    font-size: 18px;
}
.headtext p {
    font-size: 16px;
    margin-bottom: 60px;

}
.headtext span {
    font-size: 18px;
    font-weight: 400;
    padding-right: 30px;
}
.headtext span:last-child {
    color: #ff7013;
}
.headtext span i {
    padding-right: 8px;
}
.icoleft {
    padding: 50px 0;
}

.icoleft .whiteico {
    width: 10px;
    height: 18px;
    background-color: #fff;
    margin: 10px 0;
}
.icoleft .orangeico {
    width: 10px;
    height: 36px;
    background-color: #ff7013;
}
.mainsection {
    background-color: #f4f6f8;
    padding: 120px 0;
}
.maintext {
    text-align: center;
}
.maintext h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}
.maintext h2 > span:first-child {
    color: #ff7013;
}
.maintext h2 > span:last-child {
    color: #34404b;
}
.maintext p {
    font-size: 16px;
}
.mainsection .row {
    margin-top: 80px;
    margin-bottom: 80px;
}
.section {
    position: relative;
    height: 365px;
}
.goods {

    background-color: #fff;
    text-align: center;
    font-weight: bold;
    position: relative;
    height: 100%;
}
.goods img {
    padding: 30px 0;

}
.goods h4 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}
.goods p {
    font-size: 18px;
    margin: 0;
    color: #ff7013;
}
.hovergoods {
    background-color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0px 0px 20px 0px silver;
}
.hovergoods img {
    margin: 30px 0;
    height: 90px;
}
.hovergoods h4 {
    margin: 0;
    color: #ff7013;
    font-size: 18px;
    font-weight: bold;
}

.hovergoods p {
    margin: 30px 0;
    font-size: 14px;
}
.hovergoods span {
    height: 14px;
    width: 14px;
    background-color: #e94650;
    border-radius: 50%;
    display: inline-block;
}
.hovergoods > span:nth-child(5) {
    background-color: #43525d;
}
.hovergoods > span:nth-child(6) {
    background-color: #44c1ff;
}
.hovergoods > span:nth-child(7) {
    background-color: #2fdc7a;
}
.hovergoods hr {
    border-color: #f5f7f9;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 170px;
}
.hovericons {
    display: block;
}
.hovericons a {
    text-decoration: none;
    color: #34404b;
}
.hovericons i {
    font-size: 20px;
    font-weight: bold;
    padding: 0 12px;
}
.hovericons a:nth-child(2) {
    color: #ff7013;
}
.hovergoods:hover {
    opacity: 1;
}
.addarrivals {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}
.addarrivals a {
    text-decoration: none;
}
.addarrivals span{
    height: 8px;
    width: 8px;
    background-color: #ff7013;
    border-radius: 50%;
    display: inline-block;
}